<html>
    <title>Simple crud</title>
    {% include 'header.html' %}
</html>
<body>

<form action='/add-siswa' method="POST">

<h3 class='text text-primary'>Add your data here ... </h1>
<input type='text' name='nama' placeholder="Nama siswa" class='input-text'>
<br>
<input type='text' name='kelas' class='input-text' placeholder="kelas"><br><input type='submit' class='btn btn-info' value="Add" style='height:37px;'>
</form>
    <br>
    <br>
<table class='table'>
    <thead>
        <tr>
            <th>ID </th>
            <th>Nama </th>
            <th>Kelas </th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        {% for id,data_data in data %}
        <tr class='info'>
            <td>{{id}}</td>
            <td>{{data_data.nama}} </td>
            <td>{{data_data.kelas}}</td>
            <td><a href='/edit/{{data_data.id}}'>E  </a><a href='/delete/{{data_data.id}}'> D</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</table>
</body>